# Sobre o notebook

Aproveite esse espaço para as atividades do curso de **Python e Power BI: análise de dados** da Alura. Aqui você pode escrever e testar os códigos dos diversos desafios envolvendo os aprendizados de cada aula.

Este notebook foi construído com espaço para as células dos desafios propostos no curso, com ele você tem espaço para construir e executar suas soluções

## Aula 01 - Extração dos dados com Python

### Desafio 1

In [1]:
import yfinance as yf

In [3]:
carteira_yf = ['ASAI3.SA', 'EQTL3.SA', 'LREN3.SA', 'PRIO3.SA', 
               'RAIL3.SA', 'RDOR3.SA', 'SBSP3.SA', 'VIVT3.SA']

In [4]:
df = yf.download(carteira_yf, start = '2023-01-01', end = '2023-08-31')

cotacoes = df.stack(level = 1)
cotacoes = cotacoes.reset_index().rename(columns = {'Ticker': 'Ativo'})
cotacoes = cotacoes[["Date", "Open", "High", "Low", "Close", "Ativo"]]
cotacoes.head()

[*********************100%%**********************]  8 of 8 completed

Price       Date       Open       High        Low      Close     Ativo
0     2023-01-02  19.000000  19.170000  18.549999  18.990000  ASAI3.SA
1     2023-01-02  26.898176  26.898176  26.029203  26.159052  EQTL3.SA
2     2023-01-02  20.270000  20.330000  19.059999  19.330000  LREN3.SA
3     2023-01-02  36.880001  37.660000  36.450001  36.759998  PRIO3.SA
4     2023-01-02  18.309999  18.480000  17.540001  17.660000  RAIL3.SA

### Desafio 2

In [5]:
import fundamentus
import pandas as pd

2024-04-30 15:40:47,933 [logging.log_init] INFO: LOGLEVEL=INFO

In [7]:
carteira_fund = ['ASAI3', 'EQTL3', 'LREN3', 'PRIO3', 
                'RAIL3', 'RDOR3', 'SBSP3', 'VIVT3']

ind = fundamentus.get_papel(carteira_fund)[['Setor', 'Cotacao', 'Min_52_sem', 'Max_52_sem', 'Valor_de_mercado',
                                            'Nro_Acoes', 'Patrim_Liq','Receita_Liquida_12m','Receita_Liquida_3m',
                                            'Lucro_Liquido_12m', 'Lucro_Liquido_3m']]
ind.head(3)

2024-04-30 15:45:38,804 [detalhes.get_papel] INFO: detalhes: call: get..._list()
2024-04-30 15:45:38,805 [detalhes.get_detalhes_list] INFO: get list: [Papel: ASAI3]
C:\Users\Giuliano\anaconda3II\Lib\site-packages\fundamentus\detalhes.py:64: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append(df)
2024-04-30 15:45:40,559 [detalhes.get_detalhes_list] INFO: get list: [Papel: EQTL3]
C:\Users\Giuliano\anaconda3II\Lib\site-packages\fundamentus\detalhes.py:64: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append(df)
2024-04-30 15:45:42,043 [detalhes.get_detalhes_list] INFO: get list: [Papel: LREN3]
C:\Users\Giuliano\anaconda3II\Lib\site-packages\fundamentus\detalhes.py:64: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append(df)
2024-04-30 15:45:43,569 [detalhes.get_detalhes_list] INFO: get list: [Papel: PRIO3]
C:\Users\Giuliano\anaconda3II\Lib\site-packages\fundamentus\detalhes.py:64: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append(df)
2024-04-30 15:45:44,903 [detalhes.get_detalhes_list] INFO: get list: [Papel: RAIL3]
C:\Users\Giuliano\anaconda3II\Lib\site-packages\fundamentus\detalhes.py:64: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append(df)
2024-04-30 15:45:46,105 [detalhes.get_detalhes_list] INFO: get list: [Papel: RDOR3]
C:\Users\Giuliano\anaconda3II\Lib\site-packages\fundamentus\detalhes.py:64: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append(df)
2024-04-30 15:45:47,576 [detalhes.get_detalhes_list] INFO: get list: [Papel: SBSP3]
C:\Users\Giuliano\anaconda3II\Lib\site-packages\fundamentus\detalhes.py:64: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append(df)
2024-04-30 15:45:48,805 [detalhes.get_detalhes_list] INFO: get list: [Papel: VIVT3]
C:\Users\Giuliano\anaconda3II\Lib\site-packages\fundamentus\detalhes.py:64: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result.append(df)

,Setor,Cotacao,Min_52_sem,Max_52_sem,Valor_de_mercado,Nro_Acoes,Patrim_Liq,Receita_Liquida_12m,Receita_Liquida_3m,Lucro_Liquido_12m,Lucro_Liquido_3m
ASAI3,Comércio e Distribuição,13.59,10.50,14.93,18371400000,1351830000,4698000000,68629000000,17222000000,698000000,60000000
EQTL3,Energia Elétrica,31.00,26.40,35.83,35560400000,1147110000,21093200000,40985100000,11245500000,2075590000,674185000
LREN3,Comércio,15.69,11.74,22.02,15113000000,963227000,10047200000,13647800000,4271380000,976259000,526891000

In [8]:
ind = ind.reset_index()
ind.rename(columns = {'index': 'Ativo'}, inplace = True)
colunas = ['Cotacao', 'Min_52_sem', 'Max_52_sem', 'Valor_de_mercado', 'Nro_Acoes', 'Patrim_Liq',
           'Receita_Liquida_12m', 'Receita_Liquida_3m', 'Lucro_Liquido_12m', 'Lucro_Liquido_3m']
ind[colunas] = ind[colunas].apply(pd.to_numeric, errors = 'coerce', axis = 1)
ind.head()

,Ativo,Setor,Cotacao,Min_52_sem,Max_52_sem,Valor_de_mercado,Nro_Acoes,Patrim_Liq,Receita_Liquida_12m,Receita_Liquida_3m,Lucro_Liquido_12m,Lucro_Liquido_3m
0,ASAI3,Comércio e Distribuição,13.59,10.50,14.93,1.837140e+10,1.351830e+09,4.698000e+09,6.862900e+10,1.722200e+10,6.980000e+08,6.000000e+07
1,EQTL3,Energia Elétrica,31.00,26.40,35.83,3.556040e+10,1.147110e+09,2.109320e+10,4.098510e+10,1.124550e+10,2.075590e+09,6.741850e+08
2,LREN3,Comércio,15.69,11.74,22.02,1.511300e+10,9.632270e+08,1.004720e+10,1.364780e+10,4.271380e+09,9.762590e+08,5.268910e+08
3,PRIO3,"Petróleo, Gás e Biocombustíveis",49.56,32.65,50.86,4.421050e+10,8.920600e+08,1.387830e+10,1.190500e+10,2.733390e+09,5.179910e+09,1.548050e+09
4,RAIL3,Transporte,20.83,19.68,24.09,3.863690e+10,1.854870e+09,1.567140e+10,1.093770e+10,2.615700e+09,7.196660e+08,-1.689030e+06

In [9]:
ind_2 = fundamentus.get_resultado_raw().reset_index()
ind_2 = ind_2.query('papel in @carteira_fund')

ind_2 = ind_2[['papel','P/L', 'Div.Yield','P/VP','ROE']].reset_index(drop = True)
ind_2 = ind_2.rename(columns = {'papel': 'Ativo', 'Div.Yield': 'DY'})
ind_2.head()

Multiples  Ativo    P/L      DY  P/VP     ROE
0          ASAI3  26.32  0.0000  3.91  0.1486
1          EQTL3  17.13  0.0000  1.69  0.0984
2          LREN3  15.48  0.0434  1.50  0.0972
3          PRIO3   8.54  0.0015  3.19  0.3732
4          RAIL3  53.69  0.0000  2.47  0.0459

In [10]:
indicadores = pd.merge(ind, ind_2, on = 'Ativo')

indicadores['LPA'] = (indicadores['Lucro_Liquido_12m'] / indicadores['Nro_Acoes']).round(2)
indicadores['VPA'] = (indicadores['Patrim_Liq'] / indicadores['Nro_Acoes']).round(2)
indicadores

,Ativo,Setor,Cotacao,Min_52_sem,Max_52_sem,Valor_de_mercado,Nro_Acoes,Patrim_Liq,Receita_Liquida_12m,Receita_Liquida_3m,Lucro_Liquido_12m,Lucro_Liquido_3m,P/L,DY,P/VP,ROE,LPA,VPA
0,ASAI3,Comércio e Distribuição,13.59,10.50,14.93,1.837140e+10,1.351830e+09,4.698000e+09,6.862900e+10,1.722200e+10,6.980000e+08,6.000000e+07,26.32,0.0000,3.91,0.1486,0.52,3.48
1,EQTL3,Energia Elétrica,31.00,26.40,35.83,3.556040e+10,1.147110e+09,2.109320e+10,4.098510e+10,1.124550e+10,2.075590e+09,6.741850e+08,17.13,0.0000,1.69,0.0984,1.81,18.39
2,LREN3,Comércio,15.69,11.74,22.02,1.511300e+10,9.632270e+08,1.004720e+10,1.364780e+10,4.271380e+09,9.762590e+08,5.268910e+08,15.48,0.0434,1.50,0.0972,1.01,10.43
3,PRIO3,"Petróleo, Gás e Biocombustíveis",49.56,32.65,50.86,4.421050e+10,8.920600e+08,1.387830e+10,1.190500e+10,2.733390e+09,5.179910e+09,1.548050e+09,8.54,0.0015,3.19,0.3732,5.81,15.56
4,RAIL3,Transporte,20.83,19.68,24.09,3.863690e+10,1.854870e+09,1.567140e+10,1.093770e+10,2.615700e+09,7.196660e+08,-1.689030e+06,53.69,0.0000,2.47,0.0459,0.39,8.45
5,RDOR3,Serv.Méd.Hospit. Análises e Diagnósticos,26.46,21.40,36.36,6.057470e+10,2.289290e+09,2.253970e+10,4.650860e+10,1.184250e+10,2.040720e+09,7.681560e+08,29.68,0.0190,2.69,0.0905,0.89,9.85
6,SBSP3,Água e Saneamento,82.36,43.47,83.70,5.629390e+10,6.835100e+08,2.985740e+10,2.557210e+10,7.265900e+09,3.523530e+09,1.186280e+09,15.98,0.0000,1.89,0.1180,5.16,43.68
7,VIVT3,Telecomunicações,47.93,38.23,55.29,7.920850e+10,1.652590e+09,6.956680e+10,5.210020e+10,1.353470e+10,5.029390e+09,1.600650e+09,15.75,0.0505,1.14,0.0723,3.04,42.10

## Aula 03 - Transformando os dados

### Desafio 1

### Desafio 2

## Aula 05 - Visuais Python no Power BI

### Desafio 3